@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --first-color: hsl(260, 6%, 29%);
    --first-second-color: hsl(35, 7%, 52%);
    --second-color: hsl(30, 50%, 97%);
    --purple-color: hsl(257, 81%, 59%);
    --purple-second-color: hsl(259, 21%, 54%);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: #FBF7F3 !important;
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}

ul, ol, a, li {
    list-style: none;
    text-decoration: none !important;
}

img {
    width: 100%;
    display: block;
}
/* Header */
.navbar-nav {
    border-radius: 100px;
    background: #fff;
}
.navbar-toggler {
    border: 0 !important;
}
.nav-item {
    padding: 6px;
}
.nav-item:nth-child(1) {
    margin-left: 25px;
}
.marg {
    margin-right: 25px;
}
.nav-link {
    color: var(--first-color);
    font-size: 15px;
}
.invite-btn {
    display: block;
    color: var(--second-color) !important;
    background: var(--purple-color);
    border-radius: 100px;
    padding: 10px 25px !important;
    font-size: 16px;
    transition: 0.5s ease;
}
.invite-btn:hover {
    background: hsl(257, 84%, 64%);
}
/* Hero */
.hero {
    background: url('../img/purplebg.jpg') center / cover no-repeat;
}
.hero__data {
    padding: 90px 0;
}
.hero__title {
    font-size: 80px;
    letter-spacing: 2.7px;
    color: var(--second-color);
}
.hero__description {
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color);
}
/* Move */
.move {
    background: url('../img/impact-bg.jpg') center / cover no-repeat;
    height: 100vh;
}
.move__content {
    padding-top: 81px;
}
.move__title {
    color: var(--second-color);
    font-size: 93px;
    letter-spacing: 5px;
}
.move__description {
    color: var(--second-color);
    font-size: 29px;
}