@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --first-color: hsl(260, 6%, 29%);
    --first-second-color: hsl(35, 7%, 52%);
    --black-color: hsl(255, 8%, 19%);
    --second-color: hsl(30, 50%, 97%);
    --purple-color: hsl(257, 81%, 59%);
    --purple-second-color: hsl(259, 21%, 54%);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background: #FBF7F3 !important;
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}

ul, ol, a, li {
    list-style: none;
    text-decoration: none !important;
}

img {
    width: 100%;
    display: block;
}
/* Header */
.navbar-nav {
    border-radius: 100px;
    background: #fff;
}
.navbar-toggler {
    border: 0 !important;
}
.nav-item {
    padding: 6px;
}
.nav-item:nth-child(1) {
    margin-left: 25px;
}
.marg {
    margin-right: 25px;
}
.nav-link {
    color: var(--first-color);
    font-size: 15px;
}
.invite-btn {
    display: block;
    color: var(--second-color) !important;
    background: var(--purple-color);
    border-radius: 100px;
    padding: 10px 25px !important;
    font-size: 16px;
    transition: 0.5s ease;
}
.invite-btn:hover {
    background: hsl(257, 84%, 64%);
}
/* Hero */
.hero {
    background: url('../img/purplebg.webp') center / cover no-repeat;
}
.hero__data {
    padding: 90px 0;
}
.hero__title {
    font-size: 80px;
    letter-spacing: 2.7px;
    color: var(--second-color);
}
.hero__description {
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color);
}
/* Move */
.move {
    background: url('../img/impact-bg.webp') center / cover no-repeat;
    height: 100vh;
}
.move__content {
    padding-top: 81px;
}
.move__title {
    color: var(--second-color);
    font-size: 93px;
    letter-spacing: 5px;
}
.move__description {
    color: var(--second-color);
    font-size: 29px;
}
/* Ride */
.ride__data {
    padding-top: 250px;
}
.ride__title {
    font-size: 82px;
    color: var(--first-color);
}
.ride__description {
    color: var(--purple-second-color);
    line-height: 20px;
}
.subscriptions__title {
    font-size: 12px;
    color: var(--first-color);
}
.subscriptions__li {
    color: var(--purple-second-color);
    position: relative;
}
.subscriptions__li::after {
    display: block;
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #7140EB;
    border-radius: 50px;
    left: -50px;
    top: -4px;
    transition: 0.4s ease;
    pointer-events: none;
    z-index: -1;
}
.subscriptions__li:hover::after{
    left: 0;
}
/* built */
.built__data {
    padding-top: 116px;
    padding-bottom: 56px;
}
.built__title {
    color: var(--first-color);
    font-size: 83px;
}
.built__description {
    color: var(--purple-second-color);
}

.card-title {
    font-size: 30px;
    color: var(--black-color);
}
.card-text {
    color: var(--first-color);
}
.padding__built-cards {
    padding-bottom: 162px;
}
/* Big bg */
.big-bg {
    background: url('../img/big-bg.webp') center / cover no-repeat;
    height: 100vh;
}
/* Stay */
.stay {
    background: url('../img/stay-bg.webp') center / cover no-repeat;
    padding-top: 200px;
}
.stay__data {
    padding-bottom: 77px;
}
.stay__content {
    margin-bottom: 175px;
}
.stay__title {
    font-size: 83px;
    color: var(--first-color);
    letter-spacing: 2.7px;
}
.stay__description {
    color: var(--purple-second-color);
    line-height: 21px;
}
.stay-card {
    margin-right: 64px;
}
.stay-card:last-child {
    margin-right: 0;
}
.card-img-top {
    transition: 0.2s ease;
}
.card-img-top:hover {
    transform: scale(1.1);
}
/* Footer */
.footer {
    background: #F7F0EA;
    padding-bottom: 242px;
}
.footer__container {
    padding-top: 220px;
}
.footer__image1 {
    position: absolute;
    left: 0;
    width: 360px !important;
    padding: 0 !important;
}
.footer__title {
    font-size: 70px;
    color: var(--first-color);
    margin-bottom: 40px;
}
.footer__description {
    color: var(--first-color);
    line-height: 20px;
}
.footer__image2 {
    position: absolute;
    right: 0;
    width: 360px !important;
    padding: 0 !important;
}
/* BUTTON UP */
#button {
  display: inline-block;
  background-color: var(--purple-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}