@media screen and (max-width: 1120px) {
    .footer__image1 {
        display: none;
    }
    .footer__image2 {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .navbar-nav {
        background: #FBF7F3 !important;
    }
    .nav-item:nth-child(1) {
        margin-left: 0 !important;
    }
    .marg {
        margin-right: 0 !important;
    }
    .ride__data {
        flex-direction: column;
    }
    .built__cards-block {
    flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .move{
        height: 60vh;
    }
    .move__content {
        padding-top: 61px;
    }
    .move__title {
        font-size: 52px;
        letter-spacing: 3px;
        line-height: 65px;
    }
    .move__description {
        font-size: 18px;
    }
    .built__title {
        font-size: 48px;
    }
    .stay-card {
        margin-right: 0;
    }
}
@media screen and (max-width: 450px) {
    .hero__title {
        font-size: 48px;
        line-height: 50px;
        letter-spacing: 1px;
    }
    .move__title {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1px;
    }
    .move__description {
        font-size: 14px;
    }
    .built__description {
        font-size: 16px;
    }
    .big-bg {
        height: 60vh;
    }
    .stay__description {
        width: 255px !important;
    }
}
@media screen and (max-width: 400px) {
    .stay__title {
        font-size: 64px;
        letter-spacing: -1px;
    }
    .stay__description {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .move__title {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 1px;
    }
    .move__description {
        font-size: 12px;
    }
    .footer__title {
        font-size: 60px;
    }
    .footer__description {
        font-size: 14px;
    }
}